{% extends 'dashboard/base.html' %} 


{% block content %}
        <div class="page-wrapper">
           
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Search For: {{ serch_key }} </h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">gender</th>
                                            <th scope="col">blood_group</th>
                                            <th scope="col">Phone_number</th>
                                            <th scope="col">occupation</th>
                                            
                                            
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% if serach_items %}
                                        {% for donor in serach_items %}
                                          <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td><a href="{% url 'donor-detail' pk=donor.pk %}"> {{ donor.name }}<a</td>
                                            <td>{{ donor.gender }}</td>
                                            <td>{{ donor.blood_group }}</td>
                                            <td>{{ donor.phone_number }}</td>
                                            <td>{{ donor.occupation }}</td>
                                            
                                             
                                          </tr>
                                          {% endfor %}
                                        {% endif %}  
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                  
                 
                </div>
              
            </div>
          
        </div>
        
  
{% endblock %}
